<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Api.Gax" version="2.10.0" targetFramework="net452" />
  <package id="Google.Api.Gax.Rest" version="2.10.0" targetFramework="net452" />
  <package id="Google.Apis" version="1.44.1" targetFramework="net452" />
  <package id="Google.Apis.Auth" version="1.44.1" targetFramework="net452" />
  <package id="Google.Apis.Compute.v1" version="1.44.1.1845" targetFramework="net452" />
  <package id="Google.Apis.Core" version="1.44.1" targetFramework="net452" />
  <package id="Google.Apis.DeploymentManager.v2" version="1.44.1.1436" targetFramework="net452" />
  <package id="Google.Apis.SQLAdmin.v1beta4" version="1.44.1.1859" targetFramework="net452" />
  <package id="Google.Apis.Storage.v1" version="1.42.0.1744" targetFramework="net452" />
  <package id="Google.Cloud.Storage.V1" version="2.5.0" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net452" />
  <package id="System.Interactive.Async" version="3.2.0" targetFramework="net452" />
</packages>